@import url(../fonts/Droid-Serif-fontfacekit/stylesheet.css);
@import url(../fonts/Open-Sans/stylesheet.css);
@import url(../fonts/Font-Awesome/css/font-awesome.css);
/******************************************************************
Site Name: 
Author: 

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
*/
/* import mixins */
/******************************************************************
Site Name:
Author:

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques like box shadow and
border-radius.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
/* line 24, /Volumes/OSX/Lara/Dropbox/Sites/starter-kit/scss/_mixins.scss */
.clearfix {
  zoom: 1;
}
/* line 26, /Volumes/OSX/Lara/Dropbox/Sites/starter-kit/scss/_mixins.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 27, /Volumes/OSX/Lara/Dropbox/Sites/starter-kit/scss/_mixins.scss */
.clearfix:after {
  clear: both;
}

/*********************
TOOLS
*********************/
/* line 35, /Volumes/OSX/Lara/Dropbox/Sites/starter-kit/scss/_mixins.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 42, /Volumes/OSX/Lara/Dropbox/Sites/starter-kit/scss/_mixins.scss */
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('library/fonts/font-name.eot');
    	src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/
/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
/* line 142, /Volumes/OSX/Lara/Dropbox/Sites/starter-kit/scss/_mixins.scss */
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

/* line 148, /Volumes/OSX/Lara/Dropbox/Sites/starter-kit/scss/_mixins.scss */
.text-left {
  text-align: left;
}

/* line 149, /Volumes/OSX/Lara/Dropbox/Sites/starter-kit/scss/_mixins.scss */
.text-center {
  text-align: center;
}

/* line 150, /Volumes/OSX/Lara/Dropbox/Sites/starter-kit/scss/_mixins.scss */
.text-right {
  text-align: right;
}

/* line 154, /Volumes/OSX/Lara/Dropbox/Sites/starter-kit/scss/_mixins.scss */
.alert-help, .alert-info, .alert-error, .alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}

/* line 160, /Volumes/OSX/Lara/Dropbox/Sites/starter-kit/scss/_mixins.scss */
.alert-help {
  border-color: #e8dc59;
  background: #ebe16f;
}

/* line 166, /Volumes/OSX/Lara/Dropbox/Sites/starter-kit/scss/_mixins.scss */
.alert-info {
  border-color: #bfe4f4;
  background: #d5edf8;
}

/* line 172, /Volumes/OSX/Lara/Dropbox/Sites/starter-kit/scss/_mixins.scss */
.alert-error {
  border-color: #f8cdce;
  background: #fbe3e4;
}

/* line 178, /Volumes/OSX/Lara/Dropbox/Sites/starter-kit/scss/_mixins.scss */
.alert-success {
  border-color: #deeaae;
  background: #e6efc2;
}

/*********************
BORDER RADIUS
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include border-radius(4px 4px 0 0);
*/
/*********************
TRANISTION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
BOX SHADOWS
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include box-shadow(inset 0 0 4px rgba(0,0,0,0.22));
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdue it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/*********************
BUTTONS
*********************/
/* line 284, /Volumes/OSX/Lara/Dropbox/Sites/starter-kit/scss/_mixins.scss */
.button, .blue-button, .blue-button:visited, .button:visited, .blue-button:visited {
  font-family: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #be0d37;
  border-top-color: #db0f3f;
  border-left-color: #db0f3f;
  padding: 4px 12px;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -border-radius: 4px;
  border-radius: 4px;
  background-color: #e40f42;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f01d4f), to(#e40f42));
  background-image: -webkit-linear-gradient(top, #f01d4f, #e40f42);
  background-image: -moz-linear-gradient(top, #f01d4f, #e40f42);
  background-image: -o-linear-gradient(top, #f01d4f, #e40f42);
  background-image: linear-gradient(to bottom, #f01d4f, #e40f42);
}
/* line 303, /Volumes/OSX/Lara/Dropbox/Sites/starter-kit/scss/_mixins.scss */
.button:hover, .blue-button:hover, .button:focus, .blue-button:focus, .button:visited:hover, .blue-button:visited:hover, .button:visited:focus, .blue-button:visited:focus {
  color: white;
  border: 1px solid #be0d37;
  border-top-color: #9d0a2d;
  border-left-color: #9d0a2d;
  background-color: #cc0e3b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e40f42), to(#cc0e3b));
  background-image: -webkit-linear-gradient(top, #e40f42, #cc0e3b);
  background-image: -moz-linear-gradient(top, #e40f42, #cc0e3b);
  background-image: -o-linear-gradient(top, #e40f42, #cc0e3b);
  background-image: linear-gradient(to bottom, #e40f42, #cc0e3b);
}
/* line 311, /Volumes/OSX/Lara/Dropbox/Sites/starter-kit/scss/_mixins.scss */
.button:active, .blue-button:active, .button:visited:active, .blue-button:visited:active {
  background-color: #f01d4f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e40f42), to(#f01d4f));
  background-image: -webkit-linear-gradient(top, #e40f42, #f01d4f);
  background-image: -moz-linear-gradient(top, #e40f42, #f01d4f);
  background-image: -o-linear-gradient(top, #e40f42, #f01d4f);
  background-image: linear-gradient(to bottom, #e40f42, #f01d4f);
}

/* line 316, /Volumes/OSX/Lara/Dropbox/Sites/starter-kit/scss/_mixins.scss */
.blue-button, .blue-button:visited {
  border-color: #1472ad;
  text-shadow: 0 1px 1px #1472ad;
  background-color: #1681c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1990db), to(#1681c4));
  background-image: -webkit-linear-gradient(top, #1990db, #1681c4);
  background-image: -moz-linear-gradient(top, #1990db, #1681c4);
  background-image: -o-linear-gradient(top, #1990db, #1681c4);
  background-image: linear-gradient(to bottom, #1990db, #1681c4);
  -webkit-box-shadow: inset 0 0 3px #59b3ec;
  -moz-box-shadow: inset 0 0 3px #59b3ec;
  -ms-box-shadow: inset 0 0 3px #59b3ec;
  -o-box-shadow: inset 0 0 3px #59b3ec;
  -box-shadow: inset 0 0 3px #59b3ec;
  box-shadow: inset 0 0 3px #59b3ec;
}
/* line 323, /Volumes/OSX/Lara/Dropbox/Sites/starter-kit/scss/_mixins.scss */
.blue-button:hover, .blue-button:focus, .blue-button:visited:hover, .blue-button:visited:focus {
  border-color: #116396;
  background-color: #1472ad;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1784c9), to(#1472ad));
  background-image: -webkit-linear-gradient(top, #1784c9, #1472ad);
  background-image: -moz-linear-gradient(top, #1784c9, #1472ad);
  background-image: -o-linear-gradient(top, #1784c9, #1472ad);
  background-image: linear-gradient(to bottom, #1784c9, #1472ad);
}
/* line 327, /Volumes/OSX/Lara/Dropbox/Sites/starter-kit/scss/_mixins.scss */
.blue-button:active, .blue-button:visited:active {
  background-color: #1990db;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1681c4), to(#1990db));
  background-image: -webkit-linear-gradient(top, #1681c4, #1990db);
  background-image: -moz-linear-gradient(top, #1681c4, #1990db);
  background-image: -o-linear-gradient(top, #1681c4, #1990db);
  background-image: linear-gradient(to bottom, #1681c4, #1990db);
}

/******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/*********************
NAVIGATION STYLES
*********************/
/*********************
POSTS & CONTENT STYLES
*********************/
/*********************
FOOTER STYLES
*********************/
/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/*********************
LAYOUT & GRID STYLES
*********************/
/* line 27, /Volumes/OSX/Lara/Dropbox/Sites/starter-kit/scss/_768up.scss */
.wrap {
  max-width: 1140px;
}

/*********************
HEADER SYTLES
*********************/
/*********************
NAVIGATION STYLES
*********************/
/*********************
SIDEBARS & ASIDES
*********************/
/*********************
FOOTER STYLES
*********************/
/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
