/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

/*********************
HEADER SYTLES
*********************/


/*********************
NAVIGATION STYLES
*********************/


/*********************
CONTENT STYLES
*********************/


/*********************
FOOTER STYLES
*********************/