/******************************************************************

Tablets and whatnot

******************************************************************/

// Form enhancements

input[type="submit"], button, .dark-button {
    @include transition(0.2s all);
    &:hover {
        @include transition(0.2s all);        
    }
}

/*********************
HEADER
*********************/

.site-title {
    margin: 0;
    font-size: $h2;
}

.callout-quote {
    font-size: $h2;
}



/*********************
POSTS & CONTENT STYLES
*********************/


.post-title {
    font-size: $h4*2;
}

.post {
    padding-bottom: $h1;
}

// Home

.subsection-tagline {
    font-size: $h2;
}

.summary {
    font-size: $h3;
}


/* entry content */
.entry-content {
    position: relative;  
    
    ul, ol {
        list-style-position: outside;
    }

    /* at this larger size, we can start to align images */
    .alignleft, img.alignleft { 
        margin-right: 1.5em; 
        display: inline; 
        float: left; 
    }
    .alignright, img.alignright { 
        margin-left: 1.5em; 
        display: inline; 
        float: right; 
    }
    .aligncenter, img.aligncenter { 
        margin-right: auto; 
        margin-left: auto; 
        display: block; 
        clear: both; 
    }

    .single-custom_type & {
        img {
            width: 100%;
        }
    }
            
} /* end .entry-content */

.thumb-image img {
    @include transition(0.2s border-color);
    &:hover {
        border-color: $medAccent;
        @include transition(0.2s border-color);
    }
    &:active {
        border-color: $darkAccent;
    }
}


// Custom type

.project-title {
    margin-top: $h4;
    font-size: $h2;
}

.project-nav {
    .fa {
        font-size: $h1;        
    }
}


.nav-text {
    line-height: 0.5;
    vertical-align: text-bottom;
    font-family: $sans-serif;
}


/*********************
FOOTER STYLES
*********************/
    
.site-footer {
    text-align: left;
}

.social {
    float: left;
}

.copyright {
    float: right;
}
