/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// Break 1 happens in the grid styles only

$small 			: 30em;
$medium 		: 48em;
$large 	 		: 80rem;


@import "susy";

@import "../fonts/font-awesome-4.0.3/scss/font-awesome";

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";

@import "lib/settings";
@import "lib/mixins";
@import "lib/utils";
@import "lib/grid";
@import "lib/plugins";

@import "lib/forms";

@import "base";


@media only screen and (min-width: $small) {
	
}

@media only screen and (min-width: $medium) {
	@import "lib/nav";
	@import "middle";
}
