.icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	fill: #000000;
}
.shape-image {
	fill: #000000;
}
.shape-film {
	fill: #000000;
}
.shape-quotes-left {
	fill: #000000;
}
.shape-menu {
	fill: #000000;
}
.shape-close {
	fill: #000000;
}
.shape-facebook {
	fill: #000000;
}
.shape-twitter {
	fill: #000000;
}
.shape-feed {
	fill: #000000;
}
.shape-github {
	fill: #000000;
}
.shape-linkedin {
	fill: #000000;
}
.shape-arrow-left {
	fill: #000000;
}
.shape-arrow-down {
	fill: #000000;
}
.shape-arrow-up {
	fill: #000000;
}
.shape-arrow-right {
	fill: #000000;
}
