/******************************************************************

Stylesheet: Base Mobile Stylesheet

******************************************************************/

/*********************
GENERAL STYLES
*********************/

html {
    font-size: 66%;    
}

body {
    background-color: $mainBkgdClr;
    font-family: $sans-serif;
    font-size: $default;
    font-weight: 100;
    line-height: $line-height-base;
    color: $mainFontClr;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    border: 0;
    border-top: 1px dotted $medAccent;
}

/*********************
LAYOUT & GRID STYLES
*********************/

#container {
    overflow-x: hidden;
    position: relative;
}


/*********************
LINK STYLES
*********************/

a, a:visited {
    color: $linkClr;
    text-decoration: none;
    border-bottom: 1px dotted $lightAccent;

    /* on hover */
    &:hover, &:focus {
        color: $linkHoverClr;
    }

    /* on click */
    &:active {
        color: $linkActiveClr;
    }

    /* mobile tap color */
    &:link {
        /*
        this highlights links on iPhones/iPads.
        so it basically works like the :hover selector
        for mobile devices.
        */
        -webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
    }
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
    font-family: $serif;
    text-rendering: optimizelegibility;
    font-weight: 300;
    /*
    if you're going to use webfonts, be sure to check your weights
    http://css-tricks.com/watch-your-font-weight/
    */

    /* removing text decoration from all headline links */
    a {
        text-decoration: none;
    }
}

h1, .h1 {
    font-size: $h1;
    margin-top: $h3;
    margin-bottom: 0;
}

h2, .h2 {
    font-size: $h2;
    margin-top: $h2;
    margin-bottom: $sml;
}

h3, .h3 {
    font-size: $h3;
    margin-top: $h2;
    margin-bottom: $sml;
}

h4, .h4 {
    font-size: $h4;
    margin-top: $h2;
    margin-bottom: $sml;
}

h5, .h5 {
    margin: $h3 0 $sml;
    text-transform: uppercase;
    font-family: $sans-serif;
    letter-spacing: 2px;
    font-size: $sml;
}



/*********************
TYPOGRAPHY
*********************/

blockquote {
    font-size: $h3;
    margin: $h4 0;
    font-family: $serif;
    padding-left: 2rem;
    border-left: 1px solid $lightAccent;
    margin-bottom: $h3;
    font-style: italic;
}

p {
    margin-bottom: $sml;
}



/*********************
HEADER STYLES
*********************/


.header {}

    #logo {}


.rotation {
   @extend .dark-bkgd;
   a, a:visited {
    color: $lightAccent;
   }
}

.site-header {
    padding-bottom: 0;
}

.site-header, .site-footer {
    border-top: 5px solid $medAccent;
    border-bottom: 5px solid $lightAccent;
    padding: $sml 0;
}


/*********************
NAVIGATION STYLES
*********************/

// Ze Toggle menu

.menu-link {

    i {
        font-size: $h2;
        line-height: $h2;    
        color: $lightAccent;
    }

    position: absolute;
    right: 0;
    bottom: 25%;
}


.site-nav {
    text-align: center;
    margin-top: $sml/2;

    @include transition(0.3s ease-out);
    
    .js & {
        overflow: hidden;
        max-height: 0;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    &.active {
        max-height: 15em;
    }

    li {
        
        a {
            display: block;
            font-size: $sml;
            border-bottom: $accent-border;
            padding: $sml;
            text-align: center;    
            text-transform: uppercase;
            display: block;

            &:hover {
                color: $white;
            }
        }
    }

}



/*********************
CONTENT STYLES
*********************/


/*********************
FOOTER STYLES
*********************/

.footer {
    clear: both;
}

.site-footer {
    margin-top: $h1;
    .wrap {
        padding-top: $h2;
    }

   text-align: center;
}

    .social {
        display: inline-block;

        li {
            display: inline-block;
            padding-right: $default;
            a {
                border: none;
            }
            i {
                font-size: $h2;
            }
        }
    }

    .colophon {
        font-size: $sml;
        padding-top: $sml;
    }


    /*
    if you checked out the link above:
    http://www.alistapart.com/articles/organizing-mobile/
    you'll want to style the footer nav
    a bit more in-depth. Remember to keep
    it simple because you'll have to
    override these styles for the desktop
    view.
    */
    .footer-links {

        ul {

            li {}

        }

    } /* end .footer-links */


