@mixin heading($fs: $base, $fw: 700, $lsp: 1.5px, $clr: $black) {
	color: $clr;

	font-size: $fs;
	font-weight: $fw;
	
	letter-spacing: $lsp;
	text-transform: uppercase;
}

@mixin hr($clr: $pink, $w:10%, $h:$sml) {
	width: $w;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	border-top: $clr $h solid;
}


// /*********************
// CLEARFIXIN'
// *********************/

// // Contain floats: nicolasgallagher.com/micro-clearfix-hack/
// .clearfix {
//   zoom: 1;
// 	&:before, &:after { content: ""; display: table; }
// 	&:after { clear: both; }
// }


// // Mixins

// .dark-bkgd {
// 	background: $darkAccent;
//     color: $white;
//     a {
//         color: $lightAccent;
//         &:hover {
//         	color: $white;
//         }
//     }
// }


// @mixin button( $button-color, $text-color: $white ) {
// 	background: $button-color;
// 	border: none;
// 	text-shadow: 0.08em 0.08em 0.91em #666;
// 	border-width: 0.2em;
// 	color: $text-color;
// 	padding: 0.3em 0.5em;
// 	margin: $h3 0;
// 	display: inline-block;

// 	&:hover,
// 	&:focus {
// 		background: darken( $button-color, 20% );
// 		color: $text-color;
// 	}

// 	&:active {
// 		background: darken( $button-color, 10% );
// 		border-color: darken( $button-color, 13% );
// 		color: $text-color;
// 		-webkit-box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
// 	 	box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
// 	}

// 	&[disabled],
// 	&:disabled,
// 	&.button-primary-disabled {
// 		color: hsl( hue( $button-color ), 10%, 80% ) !important;
// 		background: darken( $button-color, 8% ) !important;
// 		border-color: darken( $button-color, 15% ) !important;
// 		text-shadow: none !important;
// 	}
// }