@mixin heading($fs: $base, $fw: 700, $lsp: 1.5px, $clr: $black) {
	color: $clr;

	font-size: $fs;
	font-weight: $fw;
	
	letter-spacing: $lsp;
	text-transform: uppercase;
}

@mixin hr($clr: $pink, $w:10%, $h:$sml) {
	width: $w;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	border-top: $clr $h solid;
}